* {
    margin: 0 !important;
    padding: 0 !important;
}

.headerFont {
    font-size: 20px;
    font-family: 'Kaushan Script', cursive;

}

.loginPage {
    background-color: #6cbae1;
    height: 100vh !important;
    padding-right: 10px !important;
}

.loginForm {
    margin-left: auto;
    width: 100%;
}

.worldMap {
    object-fit: cover;
    background-size: auto !important;
    height: 100vh;

}

.logOutBtn {
    background-color: #df4090!important;
    color: white;
    padding: .5rem !important;
    margin: .5rem !important;
}

.logOutCon {
    display: flex !important;
    justify-content: space-evenly !important;
}

.login-header {
    font-size: x-large;
    text-align: center;
}